name: Nightly Test

on:
  push:
    branches:
      - main
  schedule:
    - cron: '15 3 * * *'

env:
  COLORTERM: 'yes'
  TERM: 'xterm-256color'
  PYTEST_ADDOPTS: '--color=yes'
  CONTAINER_RUNTIME: 'docker'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python: "3.9"
            image_tag: "nightly"
            from_tag: "latest"
            container_file: "Containerfile.source"
          - python: "3.6"
            image_tag: "latest"
            from_tag: "latest"
            container_file: "Containerfile"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Test Dependencies
        run: pip install -r test_requirements.txt
      - name: Run tests
        env:
          IMAGE_TAG: ${{ matrix.image_tag }}
          FROM_TAG: ${{ matrix.from_tag }}
          CONTAINER_FILE: ${{ matrix.container_file }}
        run: .ci/run_container.sh make test
